body {
    background: #205B7D;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body a {
    color: #FEFFFE;
    background: #205B7D;
    padding: 5px;
}

body a:hover {
    background: #427391;
}

.subWindow {
    background: #FEFFFE;
    margin: 5px;
    z-index: 0;
}

.subWindowWraper {
    z-index: 100;
    position: absolute;
    margin: 5px;
}

.subWindowInWrapper {
    background: #FEFFFE;
    z-index: 0;
    margin: 0px;
    border: 2px solid #50C0FF;
}

.xRemove {
    float: right;
    padding: 5px;
    font-weight: bold;
    line-height: 20px;
}

.xRemove:hover {
    float: right;
    padding: 5px;
    font-weight: bold;
    background: red;
    cursor: pointer;
}

.titleBar {
    background: #50C0FF;
    color: white;
    height: 30px;
}

.subWindow a {
    color: #0057AC;
}

.menuBar {
    background: #242524;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.menuItem {
    background: #242524;
    color: #ffffff;
}

.menuitem:hover {
    background: #3C3D3C;
}