body {
  background:#205B7D;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body a {
  color: #FEFFFE;
  background:#205B7D;
  padding: 5px;
}

body a:hover {
  background: #427391;
}

.subWindow {
  background: #FEFFFE;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.wrapperSubWindow:hover {
  background: blue;
}

.wrapperSubWindow {
  float: left;
  margin-left: 10px; 
  margin-right: 10px; 
}

.wrapperSubWindow .subWindow {
  background: #FEFFFE;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}

.xRemove {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

.titleBar {
  background: #7090FF;
  color: white;
  height: 40px;
}
.subWindow:hover {
}

.subWindow a {
  color: #0057AC;
}

.menuBar {
  background: #242524;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

}

.menuItem {
  background: #242524;
  color: #ffffff;
}

.menuitem:hover {
  background: #3C3D3C;
}


